@import 'common/variables';

.gueorgui {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  z-index: 10;
  background: url($cdn-img-url + 'gueorgui.png') no-repeat;
}

